@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");

* {
  font-family: "Quicksand";
}
body {
  background-color: #eaeaea !important;
  margin: 0;
}
/* .container {
  width: 85%;
  margin: 10px auto;
  padding: 20px;
  max-height: 85%;
  box-sizing: border-box;
  overflow: auto;
}
.container::-webkit-scrollbar {
  display: none;
} */
.card {
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 1em;
  border: 2px solid gray;
}
.card h2 {
  margin-bottom: 0;
}
.card p {
  margin-top: 4px;
}
.load-more {
  text-align: center;
  /* color: black !important; */
}
/* button {
  margin: 20px;
  font-size: 1em;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  display: inline-grid;
  font-weight: bold;
  padding-top: 5px;
  pointer-events: all;
  cursor: pointer;
} */
#approved,
#approve {
  height: 35px;
  margin: 20px;
}
#openModal {
  margin: 10px;
  margin-right: 35px;
}

.loading {
  display: none;
}
.loading.active {
  display: block;
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
}
